body{
  background-color: tan;  
  font-family: sans-serif;
}
h1, h3 {
  color: green;
  font-family: cursive;
  font-size: 25px;
}
h2 {
  font-size: 18px;
  font-family: sans-serif;
}
h3 {
  color: saddlebrown;
}
span {
  color: green;
}
#us {
  color: black;
  font-family: cursive;
}
