body {
  background-color: tan;
  font-family: sans-serif;
}
h1{
  font-size: 25px;
}
h1, h3 {
  color: Green;
  font-family: cursive;
}
h3{
  color: saddlebrown;
}
span {
  color: Green;
}
#special {
  color: brown;
}
