

h1{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin-left: 300px;

}
img{
    margin-left: 300px;
    border size: 300px 200px;
    
 
    
}

h2{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin-left: 300px;

}

p{  
    font-family: Helvetica, sans-serif;
    font-style: normal;
    color: black;
    border-color: white;
    line-height: 20px;
    font-size: 14px;
  
    margin-left: 300px;
}

